$primary: #34B3A0;
$secondary: #002b36;
$default: #01313f;
$dark: #0e0e0e;

$sidebar-size: 50px;

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  background: $default;
  min-height: 100vh;
  min-width: 100vw;
}

#main-container {
  height: 100vh;
  display: flex;
  .col {
    height: 100%;
  }
}

#code-col {
    width: 60vw;
    #editor {
      width: 100%;
      height: 100vh;
      font-size: 20px;
    }
}

#result-col {
  width: calc(40vw - #{$sidebar-size});
  .container{
    height: 100%;
    #langSel-row, #action-row {
      padding: 20px 10% 0;
      height: 60px;
      display: flex;
      justify-content: space-between;
    }
    #langSel-row {
      #langSel {
        background: $secondary;
        color: #fff;
        width: 100%;
        padding: 3px 0 5px 0;
      }
    }
    #action-row {
      padding-top: 0;
      padding-bottom: 20px;
      button {
        outline: 0;
        color: #fff;
        padding: 5px 20px;
        line-height: 21px;
      }
      #submitBtn {
        border: 1px solid $secondary;
        background: $primary;
        &:hover, &:focus, &:active {
          background: #46c9b6;
        }
        &[disabled] {
          background: #1A7B72;
        }
      }
      #saveBtn {
        background: transparent;
        border: 1px solid #fff;
      }
      #saveBtn:hover {
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid #e0c7c7;
      }
    }
    #io-row {
      height: calc(100% - 120px);
    }
  }
}

#sidebar-col {
  width: $sidebar-size;
  background: $dark;
  display: flex;
  flex-direction: column;
  position: relative;
  .sidebar-icon {
    $size: 30px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    &#logo-icon {
      background: #1a414a;
      padding: 8px 0;
    }
    &#github-icon {
      bottom: 8px;
      position: absolute;
    }
    &.active {
      background: $default;
    }
    img {
      height: $size;
      width: $size;
    }
  }
}

#io-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10%;
  .row {
    width: 100%;
  }
  #outputPreloaderWrapper {
  }
  textarea{
    background: $secondary;
    width: 100%;
    height: 35vh;
    color: #fff;
    padding: 10px 5px;
  }
}


