$primary: #1A7B72;
$secondary: #002b36;
$default: #01313f;

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  background: $default;
  min-height: 100vh;
  min-width: 100vw;
}

#main-container {
  height: 100vh;
  display: flex;
  .col {
    height: 100%;
  }
}

#code-col {
    width: 60vw;
    #editor {
      width: 100%;
      height: 100vh;
      font-size: 20px;
    }
}

#result-col {
  width: 40vw;
  .container{
    height: 100%;
    #action-row {
      height: 60px;
    }
    #action-row {
      padding: 20px 10% 0;
      display: flex;
      justify-content: space-between;
      #langSel {
        background: $secondary;
        color: #fff;
        width: 60%;
        padding: 3px 0 5px 0;
      }
      #submitBtn {
        background: $primary;
        border: 1px solid $secondary;
        outline: 0;
        color: #fff;
        padding: 5px 20px;
        line-height: 21px;
      }
    }
    #io-row {
      height: calc(100% - 60px);
    }
  }
}

#io-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10%;
  .row {
    width: 100%;
  }
  textarea{
    background: $secondary;
    width: 100%;
    height: 35vh;
    color: #fff;
    padding: 10px 5px;
  }
}

/* Style loader */

.contLoader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
  display: none;
  transition: .3s
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }

  45% {
    transform: translateY(-18px) scale(0.45);
  }

  60% {
    transform: translateY(-90px) scale(0.45);
  }

  80% {
    transform: translateY(-90px) scale(0.45);
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}


@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }

  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }

  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }

  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}


@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }

  45% {
    transform: translate(16px, 12px) scale(0.45);
  }

  60% {
    transform: translate(80px, 60px) scale(0.45);
  }

  80% {
    transform: translate(80px, 60px) scale(0.45);
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}


@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


@keyframes index {
  0%, 100% {
    z-index: 3;
  }

  33.3% {
    z-index: 2;
  }

  66.6% {
    z-index: 1;
  }
}
